@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --black: #000;
  --white: #fff;
  --clr-200: #e9d7fd;
  --clr-300: #d8b7fb;
  --clr-400: #c189f7;
  --clr-600: #943ae3;
  --clr-700: #7f29c7;
  /* ? Box Shadow */
  --box: 0 7px 25px rgb(0, 0, 0, 0.3);
  /* ? Linear Gradient */
  --lg-clr: linear-gradient(to right, var(--clr-200), var(--clr-300));
}
a {
  text-decoration: none;
}
.sidebar {
  position: fixed;
  width: 280px;
  height: 100vh;
  background: var(--clr-600);
  color: var(--white);
}
.sidebar.active {
  width: 90px;
  z-index: 18;
}
.logo-nm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}
.sidebar .logo-nm img,
header .myUser img {
  width: 40px;
  border-radius: 8px;
}
.logo-nm span {
  color: var(--black);
}
.sidebar.active .logo-nm span,
.sidebar.active .logo-nm h2 {
  display: none;
}
.sidebar .menu {
  width: 100%;
  padding: 15px 0 15px 13px;
  margin-top: 30px;
}
.sidebar .menu p {
  display: none;
}
.menu li {
  position: relative;
  list-style: none;
  margin-bottom: 25px;
}
.sidebar.active .menu li:hover p,
.sidebar .menu li:hover p {
  position: absolute;
  display: block;
  right: -6px;
  top: -20px;
  color: var(--black);
  line-height: 30px;
  transform: translateX(50%);
  background: var(--clr-400);
  padding: 0 7px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  font-size: 10px;
  z-index: 1000;
}
.sidebar .menu li:hover p {
  display: none;
}
.menu li a {
  position: relative;
  width: 100%;
  padding: 10px 0 10px 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  color: var(--white);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.menu li.foc-us a {
  background: var(--clr-200);
  color: var(--clr-600);
}
.menu li.foc-us a::before,
.menu li.foc-us a::after {
  content: "";
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.menu li.foc-us a::before {
  top: -30px;
  box-shadow: 10px 10px 0 0 var(--clr-200);
}
.menu li.foc-us a::after {
  bottom: -30px;
  box-shadow: 10px -10px 0 0 var(--clr-200);
}
.sidebar.active .menu li a i {
  padding-left: 10px;
}
i {
  font-size: 30px;
  cursor: pointer;
}
.menu li a span {
  font-size: 22px;
}
.sidebar.active .menu li a span {
  display: none;
}
/* TODO => Container */
.container {
  position: absolute;
  width: calc(100% - 280px);
  padding: 15px;
  top: 0;
  left: 280px;
  background: var(--clr-200);
}
.sidebar.active ~ .container {
  width: calc(100% - 90px);
  left: 90px;
}
.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px;
  box-shadow: var(--box);
}
header .input-box {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 55%;
  height: 50px;
  background: var(--clr-300);
  border-radius: 8px;
  padding: 7px;
}
header .input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: var(--clr-300);
  font-size: 18px;
}
header .myUser {
  display: flex;
  align-items: center;
  gap: 6px;
}
header .myUser h4 {
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 20px;
}
.container .main-card {
  margin-top: 30px;
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.main-card .card {
  background: var(--lg-clr);
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  color: var(--black);
  box-shadow: var(--box);
  transition: all 0.6s ease;
}
.main-card .card i {
  transition: all 0.6s ease;
  font-size: 55px;
}
.main-card .card:hover {
  background: linear-gradient(to left, var(--clr-600), var(--clr-300));
  transform: scale(1.1) rotate(2deg);
}
.container .charts,
.container .main-recent {
  width: 100%;
  padding: 15px;
  display: grid;
  gap: 25px;
}
.container .charts {
  grid-template-columns: 1fr 2fr;
  padding: 15px;
}
.box-1,
.box-2 {
  box-shadow: var(--box);
  width: 100%;
  height: 300px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  background: var(--lg-clr);
}
.container .main-recent {
  grid-template-columns: 2fr 1fr;
}
.main-recent .recent {
  background: var(--lg-clr);
  box-shadow: var(--box);
  padding: 20px;
  border-radius: 10px;
}
.main-recent .recent .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.main-recent .recent .head h3 {
  color: var(--clr-700);
}
.recent .head a {
  background: var(--clr-700);
  color: var(--white);
  border-radius: 8px;
  padding: 5px 10px;
}
.recent table {
  border-collapse: collapse;
  width: 100%;
}
.recent table thead th {
  text-align: left;
}
.recent table tr {
  border-bottom: 2px solid #333;
}
.recent table tr:last-child {
  border: none;
}
.recent table thead th:nth-child(2),
.recent table tbody td:nth-child(2) {
  padding: 5px 3rem 5px 0;
}
.recent table thead th:last-child,
.recent table thead th:nth-child(2),
.recent table tbody tr td:last-child,
.recent table tbody tr td:nth-child(2) {
  text-align: end;
}

.recent table tr td span {
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}
.recent table tbody tr:hover {
  background: var(--clr-400);
}
.pending span {
  background: yellow;
}
.delivered span {
  background: orange;
}
.inprogress span {
  background: #0ff;
}
.return span {
  background: red;
}
.users {
  width: 100%;
  padding: 15px;
  background: var(--clr-200);
  box-shadow: var(--box);
  border-radius: 10px;
}
.users ul li {
  background: var(--clr-400);
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 7px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.users ul li img {
  width: 40px;
  border-radius: 50%;
}
.users ul li:nth-child(n + 1):nth-child(odd):nth-child(-n + 99) {
  background: var(--clr-300);
}
.users ul li:nth-child(n + 1):nth-child(odd):nth-child(-n + 99)::before,
.users ul li::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  width: 10px;
  height: 100%;
  background: var(--white);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--clr-600);
}
/* TODO => Container // */
@media (max-width: 1199px) {
  .container .charts {
    grid-template-columns: 1fr;
  }
  .container .main-card {
    grid-template-columns: repeat(2, auto);
  }
  .main-card .card:hover {
    transform: rotate(2deg) scale(0.9);
  }
}
@media (max-width: 991px) {
  .container .charts {
    grid-template-columns: 100%;
  }
  .container .main-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .container .main-recent {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 899px) {
  .sidebar {
    width: 245px;
  }
  .container {
    left: 245px;
    width: calc(100% - 240px);
  }
}
@media (max-width: 744px) {
  .container header .icon-menu i {
    display: none;
  }
  .sidebar,
  .container.active {
    width: 78px;
    z-index: 18;
  }
  .container,
  .container.active {
    left: 78px;
    width: calc(100% - 78px);
  }
  .sidebar .logo-nm span,
  .sidebar .logo-nm h2 {
    display: none;
  }
  .sidebar .menu li a span {
    display: none;
  }
  .sidebar .menu li:hover p {
    display: block;
  }
}
@media (max-width: 584px) {
  .container {
    padding: 0;
  }
  .container .main-card {
    grid-template-columns: 100%;
  }
  .container .charts div {
    height: 235px;
  }
  .container .main-recent {
    overflow: auto;
  }
  header .myUser {
    display: none;
  }
  header .input-box {
    width: 100%;
  }
  .main-card .card:hover {
    transform: rotate(2deg);
  }
}
